# 编译的产物及中间产物
bin/
obj/

# IDE 中间文件
.vs/
.vocode/

.DS_Store
build
docs/_build
__pycache__
*.swp
node_modules
.project
yarn.lock
extra/

# editors
.idea/
.vscode/
.Rproj.user

# misc
/work

# Ignore NuGet Packages
*.nupkg

# The packages folder can be ignored because of Package Restore
**/[Pp]ackages/*

# except build/, which is used as an MSBuild target.
!**/[Pp]ackages/build/

# Uncomment if necessary however generally it will be regenerated when needed
#!**/[Pp]ackages/repositories.config

# NuGet v3's project.json files produces more ignorable files
*.nuget.props
*.nuget.targets

# Ignore other intermediate files that NuGet might create. project.lock.json is used in conjunction
# with project.json (NuGet v3); project.assets.json is used in conjunction with the PackageReference
# format (NuGet v4 and .NET Core).
project.lock.json
project.assets.json
